.the-year-of-the-dragon-svg {
    width: 490px;
    height: 311px;
    background-image: url(/content/img/johnny_automatic_dragon_2.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  