.the-year-of-the-dragon-svg {
    width: 404px;
    height: 311px;
    background-image: url(https://openclipart.org/download/338677/red-year-of-the-rabbit.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  