#site-map,
#area-map {
    margin-left: 18px;
}
#site-map ul,
#area-map ul {
    padding-left: 9px;
}

.tabular-code-compare pre {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    max-width: 250px;
  }

/*
li.sitemap-level-0 {
    list-style-type: bullet0;
}
li.sitemap-level-1 {
    list-style-type: bullet1;
}
li.sitemap-level-2 {
    list-style-type: bullet2;
}
li.sitemap-level-3 {
    list-style-type: bullet3;
}
li.sitemap-level-4 {
    list-style-type: bullet4;
}
li.sitemap-level-5 {
    list-style-type: bullet5;
}
*/
/*
#site-map li,
#area-map li {
    list-style-type: snowflakes;
}

@counter-style hearts {
    system: fixed;
    symbols: ❤️ 💛 💚 💙 💜;
    suffix: "";
}

@counter-style snowflakes {
    system: fixed;
    symbols: ✱ ✲ ✻ ✼ ✽ ❃ ❉;
    suffix: "";
}

@counter-style bullet0 {
    system: fixed;
    symbols: ❤️;
    suffix: "";
}
@counter-style bullet1 {
    system: fixed;
    symbols: 💛;
    suffix: "";
}
@counter-style bullet2 {
    system: fixed;
    symbols: 💚;
    suffix: "";
}
@counter-style bullet4 {
    system: fixed;
    symbols: 💙;
    suffix: "";
}
@counter-style bullet5 {
    system: fixed;
    symbols: 💜;
    suffix: "";
}

*/