#nodeMarkdownRaw {
    display: none;
}
#siteMap,
#areaMap {
    margin-left: 18px;
}
#siteMap ul,
#areaMap ul {
    padding-left: 9px;
}

.tabular-code-compare pre {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    max-width: 250px;
}

.hide {
    display: none;
}

@media print {
  /* Hide everything by default */
  body * {
    visibility: hidden;
  }

  /* Show only the specific div and its contents */
  #nodeMarkdownProcessed, #nodeMarkdownProcessed * {
    visibility: visible;
  }

  /* Position the printable div at the top-left of the page */
  #nodeMarkdownProcessed {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
